body{
  width: 100%;
  margin : 0;
  padding : 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}

nav{
  width  :100%;
  height : 75px;
  position: fixed;
  background: purple;
  margin: 10px;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(10, 1fr);

}

a{
  width: 70%;
  height: 50%;
  background : cyan;
  align-self: center;
  justify-self: center;
}
.grid{
  position: relative;
  top : 100px;
  display: grid;
  width : 960px;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px , auto);
  grid-template-areas: "p1 p1 p2 p2 "
                        " p3 p3 p4 p5 "
                        " footer footer footer footer";
}

footer {
  grid-area: footer;
  background: gray;

}
.p1,.p2,.p3,.p4,.p5{
  height: 250px;
  background: green;
}
.p1{ grid-area: p1;}
.p2{ grid-area: p2;}
.p3{ grid-area: p3;}
.p4{ grid-area: p4; display:flex; justify-content : center;}
.p5{ grid-area: p5; display:flex; justify-content : center;}

.s1 , .s2{
  background : red;
  height: 80%;
  width: 80%;
  align-self: center; 
}