body{
  padding : 0px;
  margin : 0px;
}

.container {
  display : flex;
  width : 350px ;
  height : 500px;
  flex-flow: column;
}



.green {
  order: 1;
  flex-grow : 1;
  background: #51d400;
}
.yellow{
  order : 3 ;
  flex-grow : 2;
  background: #ffd62a;
}
.purple{
  order : 2 ;
  flex-grow : 1;
  background: #b02aff;
}