
body{
  width: 100%;
  height: 500px;
  background-color: #313841;
  display: grid;
  grid-template-columns: 5fr 1fr 2fr 4fr;
  grid-auto-rows: minmax(70px , auto);
  transition : 0s;
}
#check {
  display : none ;
}
#check path {
  fill : #38ba7d;
}
.delete{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  color : white;
  font-weight: bold;
}
.sure{
  display : none ;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  color : white;
  font-weight: bold;
}
button{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  height: 100px;
  width: 100px;
  background-color: black;
  border: none;
}
div{
  height: 100px;
 
  grid-column: 3 / 4;
  grid-row : 2 / 3 ;
  background-color: #F34541;
  border-radius: 5px;
  display: none;
  
}
svg{
  transform: scale(0.7);
}
path{
  fill : gray;
}
button:focus{
  outline: none;
}
button:hover path {
  fill : #F34541;
}
button:hover + div {
  display : flex;
  justify-content: center;
  align-items: center;
}
button:focus + div > .delete{
  display : none;
}
button:focus #trash{
  display : none;
}
button:focus #check{
  display : block;
}
button:focus + div > .sure{
  display: block;
}

button:focus path {
  fill :#38ba7d;
}
button:focus + div {
  background : #38ba7d;
}