<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>title</title>
</head>

<body>
  <h1>Things to do today:</h1>
  <ul>
    <% for (let i = 0 ; i < todos.length ; i++){ %>
      <li><%= todos[i] %></li>
    <% } %>

  </ul>
</body>

</html>